.general-font {
    font-size: 18px;
    font-weight: 400;
    color: rgb(78, 103, 240);
    line-height: 1.2;
    padding: 3px;
    margin-top: 10px;
}

.profile {
    width: 350px;
    background-color: rgb(71, 87, 233);
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
}

.description {
    width: 300px;
    background-color: rgb(231, 242, 255);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.avatar {
    display: block;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.name {
    composes: general-font;
    font-size: 24px;
    font-weight: 700;
    margin-top: 40px;
}

.tag {
    composes: general-font;
    margin-bottom: 0;
    margin-top: 0;
}

.location {
    composes: general-font;
}

.stats {
    display: flex;
    width: 300px;
    margin-bottom: 0;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    background-color: rgb(216, 231, 231);
    list-style-type: none;
    text-align: center;
}

.label {
    composes: general-font;
    color: rgb(0, 0, 0);
}

.quantity {
    display: inline-flex;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}